<body>
  <header
    style="
      background-color: rgb(74, 76, 77);
      padding: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <a href="/">
      <button
        style="
          color: white;
          background-color: green;
          border: 1px solid black;
          padding: 12px;
          text-align: left;
          margin-right: 650px;
        "
      >
        Home
      </button>
    </a>
    <a href="/articles/new">
      <button
        style="
          color: white;
          background-color: blue;
          border: 1px solid black;
          padding: 12px;
          text-align: right;
        "
      >
        Add Article
      </button>
    </a>
  </header>
</body>
