body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.container {
  width: 500px;
  height: 500px;
  padding: 32px;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}
input {
  width: 90%;
  padding: 20px;
  margin: 10px;
}
