<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width>, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <div class="conatiner">
      <h2>Add Article Details</h2>
      <form action="/articles" method="POST">
        <input type="text" name="title" placeholder="Enter title " />
        <textarea
          name="description"
          rows="4"
          column="15"
          placeholder="Enetr valid description"
        ></textarea>
        <input type="text" name="tags" placeholder="Tags" />
        <input type="text" name="author" placeholder="Author Name" />
        <input type="number" name="likes" placeholder="Likes" />
        <input type="submit" value="Add Article" />
      </form>
    </div>
  </body>
</html>
